<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template Custom</title>
</head>
<body>
    <h1>Text Analyzer ,  !!!</h1>
    <form action="/removepunc" method="GET">
        <textarea name = 'text'></textarea>
        <br>
         <input type='checkbox' name="removal">Remove punctutation
        <br>
        <input type ='checkbox' name="UPPERCASE">Upper Case<br>
        <input type = 'checkbox' name="charCounter">Char Counter<br>
        <button type="submit">Submission</button>

    </form>
</body>
</html>